html {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.form-wrapper {
  margin: auto;
}

.form {
  width: 90%;
  max-width: 300px;
  margin: auto;
}

.form > input {
  text-align: center;
  display: block;
  width: 90%;
  padding: 5%;
  margin-bottom: 10px;
  border: transparent;
  border-radius: 10px;
  background: cornsilk;
  font-weight: bold;
  font-size: 1.1rem;
}

.form > button {
  display: block;
  width: fit-content;
  padding: 5px 20px;
  margin: 10px auto;
  border: transparent;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: royalblue;
  color: white;
  cursor: pointer;
}

.form > #message {
  text-align: center;
}

.metamask-button {
  display: flex;
  margin: auto;
  background-color: royalblue;
  padding: 10px;
  border-radius: 6px;
}
.metamask-button > img {
  width: 30px;
  margin-right: 10px;
}
.metamask-button > button {
  display: block;
  background-color: transparent;
  border: transparent;
  font-size: 1rem;
  color: white;
  margin: auto 0;
}
